<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>this is my page</h1>

    //interpolation syntax
    //print final output
    <h><%=8*9 %></h>
    <h><%=['khushi','muskan','happy'][1]</h>
   <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid iusto consequatur consectetur quasi impedit corporis voluptatem, nesciunt cupiditate, sit officia neque perferendis molestiae aspernatur minima similique veritatis, officiis ex sunt.</p>
   <ol>
    <li>
        dance
    </li>
    <li>music</li>
   </ol>
   <button>click</button>
</body>
</html>